# Introduction to Python

In this chapter, you will start testing your python by <br>
1. printing basic operations,
2. defining different variable types,
3. looking into lists of objects,
4. making decisions with conditions,
5. iterating with for loops and
6. defining some basic functions.

## 1. Basic Syntax

In [1]:
#a = 2
#b = 1

a, b, c = 2, 3., "Hello World!"

In [2]:
print(a, b, c)

print(a)

2 3.0 Hello World!
2

In [3]:
print("Hello World!")

Hello World!

In [4]:
print(3.*3)

9.0

In [5]:
print(3**3)

27

In [6]:
print(2+2.)

4.0

You can find more examples at [LearnPython](http://www.learnpython.org) & [PythonTutorial](https://www.tutorialspoint.com/python/).

## 2. Variable Types
You are automatically defining a variable type while initializing the variable such as

In [7]:
myint = 7
myfloat1 = 7.0; myfloat2 = float(7)

You may separate commands using ";"

In [8]:
print(myint/2); print(myfloat1/2); print(myfloat2*2); print(myfloat2**2)

3.5
3.5
14.0
49.0

In [9]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'exit',
 'get_ipython',
 'myfloat1',
 'myfloat2',
 'myint',
 'quit']

In [10]:
del myfloat1

In [11]:
dir()

['In',
 'Out',
 '_',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'exit',
 'get_ipython',
 'myfloat2',
 'myint',
 'quit']

## 3. Lists

List a special case of array, except they can include variables with different types. You can easily append, delete, merge, different lists. You can even exchange the index number with a string as a name. List is one of the most useful objects in Python. In most of our exercises we use numpy arrays but it is always handy to know how to handle lists.

Index in list starts from zero (0) unlike R. 
A string is actually a list. 
-1 shows the end of the list but the last. 
Range of indices is like [start, end[ so you do not get access to the last element.

In [12]:
mylist = [1, 2, 3.]
print(mylist)

[1, 2, 3.0]

In [13]:
print(mylist[0])

1

Here is a simple example that shows how a list is different with an array.

In [14]:
mylist = [1, 2, 3, "2", "Hello World", [1, 2, 3] ]

In [15]:
print(mylist[-1])

[1, 2, 3]

In [16]:
mylist[2]*3

9


**Exercise** <br>

Make two lists. First, a list of 4 of your best friends' first name.

Second, a list of their family name. Then print their first name and last name.

In [17]:
firstname= ["John","Bruno", "Alan", "Ali"]
lastname=["Smith", "Agard", "Turing", "Bendavid"]

In [18]:
print(firstname)

['John', 'Bruno', 'Alan', 'Ali']

In [19]:
print(lastname)

['Smith', 'Agard', 'Turing', 'Bendavid']

You may insert several other elements to the list using "append", "insert", "index" and several others. See below for for more details

```python
list.append(x)
```
Add an item to the end of the list; equivalent to a[len(a):] = [x].

```python
list.extend(L)
```
Extend the list by appending all the items in the given list; equivalent to a[len(a):] = L.

```python
list.insert(i, x)
```
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

```python
list.remove(x)
```
Remove the first item from the list whose value is x. It is an error if there is no such item.

```python
list.pop([i])
```
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

```python
list.index(x)
```
Return the index in the list of the first item whose value is x. It is an error if there is no such item.

```python
list.count(x)
```
Return the number of times x appears in the list.

```python
list.sort(cmp=None, key=None, reverse=False)
```
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

```python
list.reverse()
```

Reverse the elements of the list, in place.

## 4. Conditions 
Python uses boolean variables to evaluate conditions. Tab separates different code blocks, therefore there is no need for brackets.

In [20]:
x = 2
print(x == 2) 
print( x<2 )
print( not x<2 )

True
False
True

In [21]:
print( (x == 2)*(x > 1) )

1

In [22]:
a=1
if a==1:
    print( "yeah  a equals to one" )
else:
    print( "nop a differs from one" )

yeah  a equals to one

In [23]:
if x==2:
    print( "x equals to two" )
else:
    print( "print x differs from two" )

x equals to two

### Lines and Indentation 

Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. Acommon practice is tab or double space for each block.

## 5. For Loop
The "for" loops iterate over a given sequence. <br>
The "range" function is a very useful command in loops.

In [24]:
print( range(10) )
print( range(2,6) )
print( range(2,14,4) )

range(0, 10)
range(2, 6)
range(2, 14, 4)

In [25]:
print( range(len(firstname)))

for i in range(len(firstname)):
    print( firstname[i] )

range(0, 4)
John
Bruno
Alan
Ali

### hidden counter
You can use a hidden counter as well.

In [26]:
for name in firstname:
    print( name )

John
Bruno
Alan
Ali

**Exercise** <br>
Create a new list in the form of "firstname_lastname" of your 5 friends.

In [27]:
# initialize
first_last=[""]*len(firstname)
print(first_last)

# attach using for loop
for i in range(len(firstname)):
    first_last[i]=firstname[i]+"_"+lastname[i]

print(first_last)

['', '', '', '']
['John_Smith', 'Bruno_Agard', 'Alan_Turing', 'Ali_Bendavid']

## 6. Function definition
The "def" command, can be used to define a function.

In [28]:
def sq(x):
  return x**2

In [29]:
print( sq(75) )

5625

**Exercise ** <br>
Define a function that gives the square of a list elements.

In [30]:
def sqlist1(X):
    return [sq(x) for x in X]

In [31]:
sqlist1(range(6))

[0, 1, 4, 9, 16, 25]

In [32]:
def sqlist2(X):
    Y=[0]*len(X)
    for i in range(len(X)): 
        Y[i]=sq(X[i])
    return Y

In [33]:
sqlist2(range(6))

[0, 1, 4, 9, 16, 25]